*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.Indeling{
display: flex;
justify-content: center;
align-items: center;
}

body{
    background-image:url(images/beach.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: cover;
}


progress{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50%;
    margin: 10px auto; /* Center and reduce margin */
}

p{
    display: flex;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    justify-self:center;
    padding: 20px; 
    margin: 50px auto; 
}

h1{
    color: green;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tekst{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px; 
    margin: 50px auto; 
    border-radius: 40%; 
    width: fit-content; 
    height: fit-content; 
}

#main{
    display: block;
    margin: 5px auto;
    width: 400px;
    height: 600px;
}

#main{ 
    padding-bottom: 5%;
    animation-duration: 3s;
    animation-name: bounce;
    margin: auto;
}

@keyframes bounce{
0%{ transform: translateY(0);}

50%{ transform: translateY(-20px);}

70%{ transform: translateY(20px);}

100%{transform: translateY(0);}
}

button{
    justify-items: center;
    font-size: smaller;
    width: 100px;
    padding: 5%;
    height: 100px;
    background-color: aliceblue;
    border: 2px solid; 
    padding: 10px; 
    border-radius: 20%; 
    text-align: center;
}


button:hover{
    justify-items: center;
    font-size: smaller;
    width: 100px;
    padding: 5%;
    height: 100px;
    background-color: pink;
    border: 2px solid; 
    padding: 10px; 
    border-radius: 20%; 
    text-align: center;
}

#restart{
    justify-items: center;
    font-size: smaller;
    width: 100px;
    padding: 5%;
    height: 100px;
    background-color: pink;
    border: 2px solid; 
    padding: 10px; 
    border-radius: 20%; 
    text-align: center;
}


