*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.Indeling{
display: flex;
justify-content: center;
align-items: center;
}

body{
    background-image:url(images/beach.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: cover;
}


progress{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50%;
    margin: 10px auto; /* Center and reduce margin */
}


h1{
    color: green;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tekst{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px; 
    margin: 50px auto; 
    border-radius: 40%; 
    width: fit-content; 
    height: fit-content; 
}

#main{
    display: block;
    margin: 5px auto;
    width: 400px;
    height: 600px;
}

button{
    justify-items: center;
    font-size: smaller;
    width: 100px;
    padding: 5%;
    height: 100px;
    background-color: aliceblue;
    border: 2px solid; 
    padding: 10px; 
    border-radius: 20%; 
    text-align: center;
}


button:hover{
    justify-items: center;
    font-size: smaller;
    width: 100px;
    padding: 5%;
    height: 100px;
    background-color: pink;
    border: 2px solid; 
    padding: 10px; 
    border-radius: 20%; 
    text-align: center;
}



